* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

header {
    background-color: darkslategray;
    text-align: center;
    display:inline-flex;
    margin:0;
    width: 100%;
    margin: 0 auto;
    border-radius: 5%;
}

header img {
    box-sizing: border-box;
    border-style: solid;
    border-color: grey;
    border-radius: 30%;
    height: 15%;
    width: 15%;
    margin: 1em 0;
}

h1 {
    color: #17130B;
    margin-top: 4em;
    text-align: center;
    margin: auto;
}

#elle {
    font-family: cursive;
}

body {
    position: relative;
    background-color:lightslategray;
    margin: 0;
}

a:link {
    text-decoration: none;
    outline: none;
    color: black;
}

a:visited {
    color: darkcyan;
}

a:hover {
    cursor: pointer;
    color: cyan;
 }


nav {
    background-color: darkslategray;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    margin: 0.5em 0;
    display: flex;
    justify-content: flex-end;
    border-radius: 15%;
}

#nav-buttons {
    display: inline-flex;
    list-style-type: none;
    padding: 0 1em;
    box-sizing: border-box;
}

#nav-buttons li {
    padding: 0 2.5em 0;
}

#About-Me-content h2 p {
    text-align: center;
    margin: auto;
    vertical-align: middle;
    max-width: 50%;
    max-height: 50%;
}
#About-Me-Image{
    width:40%;
    margin:auto;
    justify-content: center;
}
#Profile-Photo {
   box-sizing: border-box;
   border: 0.5 em;
   border-style: solid;
   border-color:aquamarine;
   max-width: 50%;
   max-height: 50%;
   border-radius: 15%;
}

section{
    margin: 0 5em;
}
.Portfolio-Section {
    display: flex;
    margin: 2.5em 0;
   }

#Project-Highlight.ImageAndCaption {
    width:100%;
}

.Project-Images {
    width: 100%;
    justify-content: center;
    margin: auto;
    box-sizing: border-box;
}

.sidebar-Header {
    border-right: 0.5em;
    border-right-style: solid;
    border-color: teal;
    text-align: right;
    width: 20%;
}

.sidebar-Header h2 {
    padding: 0 1em 0 0;
    box-sizing: content-box;
    font-size: 1em;
}

#Project-Tiles img {
    border-style: solid;
    border-color:aquamarine;
    border: 0.5 em;
    border-radius: 10%;
    box-sizing: border-box;
} 

.Project-Images img {
    max-width:10%;
}

.content {
    width: 80%;
    padding: 0 1em;
}

#Project-Tiles.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ImageAndCaption {
    position: relative;
  }

.ImageAndCaption h3 {
    position: absolute;
    bottom:0;
    left: 10%;
    background-color: aquamarine;
    border: solid 2px aquamarine;
    border-radius: 5%;
    color: black;
}