/* Sets Unversal font to sans-serif and that children stay inside of their parent elements*/
* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
  }

  /* Styles the header section by: setting background color of the header section, aligns the text and content to center, displays content inline instead of block, deletes any margin so that the header reaches to the end of the page and adds a border radius */
header {
    background-color: darkslategray;
    text-align: center;
    display:inline-flex;
    width: 100%;
    margin: 0 auto;
    border-radius: 5%;
}

/* Styles the header image by containing it to it's "section" adding a border and border radius, setting the height and width to 15% of the header div, so that the sizing is responsive and sets the top and bottom margins*/

header img {
    /* box-sizing: border-box; */
    border-style: solid;
    border-color: grey;
    border-radius: 30%;
    height: 15%;
    width: 15%;
    margin: 1em 0;
}

/*  Styles the h1 heading tag so that the font is black, centered on the page and has rounded corners */

h1 {
    color: #17130B;
    margin: auto;
    background-color: aquamarine;
    border-radius: 5px;
    font-size: 2vw;
}


/* Styles the span with id "elle" */

#elle {
    font-family: cursive;
}

/* sets the body with relative position, so that elements within the body can be set to different positions and then sets background color and removes any margin */
body {
    position: relative;
    background-color:lightslategray;
    margin: 0;
}

/* Styles psuedo class for any anchor link by removing default browser settings/decorations for links */
a:link {
    text-decoration: none;
    outline: none;
    color: aquamarine;
}

/* Styles psuedo class so that any link that is hovered over changes font color, and increases font size */
a:hover {
    cursor: pointer;
    color: cyan;
    font-size: larger;
 }


/* Styles psuedo class so that any link that is clicked on changes font color*/
a:visited {
    color: darkcyan;

}

/* Styles the navigation bar with to background color, a different font, font size, top and bottom margin, changes display to flex row instead of block, with the navigation options towards the right side of the screen, and adds rounded corners and nav bar stays at top of screen when scrolling */
nav {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
    position: sticky;
    width: 100%;
    top:0;
    z-index: 2;
}

/* Styles the navigation section to be in a row vice column, with no bullets for the list items and is centered */
#nav-buttons {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
}

/* Styles the navigation options to have padding to the right and left  */
#nav-buttons li {
    padding: 0 2.5em 0;
}

/* Styles the About-Me-Image id to be centered on the page */
#About-Me-Image{
    margin: auto;
}

/* Styles the profile photo with a border and a max width and height and border radius */
#Profile-Photo {
     border-style: solid;
   border-color:aquamarine;
   max-width: 75%;
   max-height: 75%;
   border-radius: 15%;
}

/* Sets the sections to flex display instead of block, so section title and content are in a row with margin */
.Portfolio-Section {
    display: flex;
    margin: 2.5em 0;
   }

   /* Sets section header style to have right side border with text aligned to the right and to take up 20% of the page width */
.sidebar-Header {
    border-right: 0.5em;
    border-right-style: solid;
    border-color: teal;
    text-align: right;
    width: 20%;
}

/* Sets the style of the h2 tag in the side bar header to be offset from the right side and to adjust the font size when the page is resized */
.sidebar-Header h2 {
    padding: 0 1em 0 0;
    font-size: 1.5vw;
}

/* Sets the style of the content class to take up 80% of the page, so responsive when the page is resized, sets the top and bottom padding */
.content{
    width: 80%;
    padding: 0 1em;
}

/* Sets the about me section content to flex display and wraps content*/
#About-Me-content {
    display: flex;
    flex-wrap: wrap;
}

/* sets the project list section to flex display and wraps content */
#Project-List {
    Display:flex;
    flex-wrap: wrap;
}

/* Sets project highlight tile to have a border with rounded edges and to be bigger than other project elements */
#Project-Highlight {
    position:relative;
   border-style: solid;
   border-color:aquamarine;
   border: 0.5 em;
   border-radius: 5%;
   overflow: hidden;
   width: 100%;
   height: 400px;
  }

  /* Sets project highlight caption to say at the bottom left of the project screenshot with a background color and rounded edges  */
#Project-Highlight h3 {
    position: absolute;
    bottom:0;
    left: 10%;
    background-color: aquamarine;
    border: solid 2px aquamarine;
    border-radius: 5%;
    color: black;
}

/* Styles the remaining project tiles to have same border color, rounded edges and to take up half of the width of the page */
.ImageAndCaption {
    position:relative;
    border-style: solid;
    border-color:aquamarine;
    border: 0.5 em;
    border-radius: 10%;
    overflow: hidden;
    width: 50%;
    height: 250px;
}

/* Styles all of the images so that they take up the space of their containers and maintain their aspect ratio. Also positions photos to display centered */
img {
    width: 100%;
    height: 100%;
    /* object-fit: scale-down; */
    object-fit: cover;
    object-position: 50% 50%;
 }

 /* Styles project captions to stay fixed to the bottom left of the project screenshots */

.ImageAndCaption h3 {
    position: absolute;
    bottom:0;
    left: 10%;
    background-color: aquamarine;
    border: solid 2px aquamarine;
    border-radius: 5%;
    color: black;
}

/* Styles of the Contact-Options id and content class to be block display and override the flex display */
#Contact-Options.content {
    display: block;
   }

/* Styles the h3 contact me header to be double underlined in a teal color */
#Contact-Options h3 {
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color:teal;
}
/* Styles form labels to be aqua colored */
#userInformation {
    color:aquamarine;
}

/* Styles contact form input boxes with dotted border with rounded edges */
.userContactInfo {
    border: dotted 1px lightseagreen;
    border-radius:5px;
}

/* Styles  contact form input boxes to have a box shadow blur when hovered over*/
.userContactInfo:hover, button:hover {
    box-shadow: 0 0 5px aquamarine;
}

/* Styles contact form input boxes to keep a box shadow blur when targeted as user tabs through page links */
.userContactInfo:focus, button:focus {
    box-shadow: 0 0 10px teal;
}
